@media screen and (min-width: 481px) and (max-width: 760px){
    .article > *{
        flex: 1 1 35%;
        margin: 0.1em 0.1em;
    }
    .linkNav{
        flex: 0 1 22%;
        margin: 0 0.1em;
    }
}
@media only screen and (max-width: 480px) {
    .nav{
        transition: 1ms;
        display: none;
    }
    .article{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .box1,
    .box2,
    .box3{
        width: 95%;
        margin: 1em 0;
        padding: 0.2em 0.2em;
    }
}