@media screen and (min-width: 481px) and (max-width: 760px){
    .log-reg{
        justify-content: space-between;
    }
    .search{
        display: none;
    }
    .buttons{
        margin-right: 0;
    }
    .buttons button{
        margin-right: 0;
    }
    .article > *{
        flex: 1 1 35%;
        margin: 0.1em 0.1em;
    }
    .linkNav{
        padding: 0 0.5em;
        margin: 0 0.5em;
        font-size: 0.7em;
        font-weight: bold;
        text-transform: uppercase;   
    }
    .publicity{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-left: 2em;
        margin-bottom: 3em;
    }
    .ads:hover{
        position:relative;
        transform: scale(1.1);
        z-index:999;
        cursor: pointer;
        box-shadow: 4px 3px 10px 9px rgba(248,149,84,0.55);
    }
}
@media only screen and (max-width: 493px){
    .buttons{
        display: none;
    }
    .search{
        display: none;
    }
    .burgerMobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1ms ease;
    }
    .lines{
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
    }
    .nav{
        transition: 1ms;
        display: none;
    }
    .article{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .box1,
    .box2,
    .box3{
        width: 95%;
        margin: 1em 0;
        padding: 0.2em 0.2em;
    }
    .text{
        padding-left: 3px;
    }
    .publicity{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        width: 75%;
        margin-left: 2em;
        margin-bottom: 3em;
    }
    .ads:hover{
        position:relative;
        transform: scale(1.1);
        z-index:999;
        cursor: pointer;
        box-shadow: 4px 3px 10px 9px rgba(248,149,84,0.55);
    }
    .latestContainerNews{
        flex-direction: column;
    }
    .latest{
        width: 90%;
        margin-bottom: 1em;
    }
    .footerLists{
        display: none;
    }
    .icons ul{
        padding: 0;
    }
    .copyright{
        display: none;
    }
}
@media only screen and (max-width: 325px) {
    .logo h1{
        transition: all 1ms ease-in;
        display: none;
    }
}