body{
    background-image: url(/imgs/fondo.jpeg);
}
/* Header */
#header{
    height: 20vh;
    width: 100%;
    border: 1px solid red;
    background-color: blanchedalmond;
}
.contenedor{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    border: 1px solid lightcoral;
}
.log-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 50%;
    height: 5vh;
    border-radius: 12px;
}
.buttons{
    width: 20%;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

/* Navbar */
.nav{
    height: 50px;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 89%;
    height: 3em;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: #f89554;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.linkNav{
    padding: 0 0.5em;
    margin: 0 0.5em;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}
.linkNav a{
    cursor: pointer;
    text-decoration: none;
}
.nav ul li a:hover{
    transition: 1ms;
    color: white;
}
.burgerMobile{
    display: none;
} 
/* Main */
#main{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
}
.columns{
    padding: 1em 1em;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box1{
    width: 20%;
}
.box2{
    width: 46%;
}
.box3{
    width: 71%;
}
img{
    max-width: 100%;
}
/* Footer */
#footer{
    width: 95%;
    height: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: lightseagreen;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.footerLists{
    display: flex;
    flex-flow: row wrap;
    padding: 0 2em;
}
.footerLists ul{
    display: flex;
    flex-wrap: wrap;
}
.listFooterLinks{
    flex-flow: column;
    width: 94.453px;
    height: 26px;
    margin-bottom: 8px;
    padding-right: 16px;
    list-style: none;
    text-decoration: none;
}
.listFooterLinks a{
    cursor: pointer;
    font-size: .75rem;
    letter-spacing: .09375rem;
    align-items: center;
    text-decoration: none;
    color: white;
}
.listFooterLinks a:hover{
    transition: 1ms;
    color: #00CDFD;
    text-decoration: underline;
}
.icons ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style: none;
}
.listIcons{
    margin: 1em 1em;
}
.listIcons img{
    border-radius: 35%;
}
.listIcons img:hover{
    transition: 1ms;
    background-color: #00CDFD;
}