body{
    background-image: url(imgs/fondo.jpeg);
}
/* Header */
#header{
    height: 100%;
    min-width: 15vw;
    border: 1px solid red;
}
.contenedor{
    height: 100%;
    min-width: 15vw;
    margin: auto;
    border: 1px solid lightcoral;
}
/* Navbar */
#navbar{
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 15vw;
    margin: auto;
    border: 1px solid green;
}
.linkNav{
    display: inline-flex;
    justify-content: space-between;
}
/* Main */
#main{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
}
.columns{
    padding: 1em 1em;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box1{
    width: 20%;
}
.box2{
    width: 46%;
}
.box3{
    width: 71%;
}
img{
    max-width: 100%;
}
/* Footer */
#footer{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
