body{
    background-image: url(/imgs/fondo.jpeg);
}
/* Header */
#header{
    height: 20vh;
    width: 100%;
    border: 1px solid red;
}
.contenedor{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    border: 1px solid lightcoral;
}
.log-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 50%;
    height: 5vh;
    border-radius: 12px;
}
.buttons{
    width: 20%;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

/* Navbar */
.nav{
    display: flex;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    border-radius: 12px;
    background-color: #f89554;
}
.linkNav{
    width: 11vw;
    list-style: none;
    font-size: 2rem;
    text-align: center;
}
.linkNav a{
    padding: 0 1em;
    align-items: center;
    text-decoration: none;
}
.nav a:hover{
    transition: 1ms;
    background-color: #f2e2dd;
    color: black;
}
.burgerMobile{
    display: none;
}
/* Main */
#main{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
}
.columns{
    padding: 1em 1em;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box1{
    width: 20%;
}
.box2{
    width: 46%;
}
.box3{
    width: 71%;
}
img{
    max-width: 100%;
}
/* Footer */
#footer{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.footerLists{
    display: inline;
    padding: 0 2em;
}